@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@layer base {
  h2 {
    @apply font-sans text-4xl font-semibold
    sm:text-4xl
    md:text-5xl
    lg:text-5xl
    xl:text-6xl
    2xl:text-6xl;
  }

  section {
    @apply mx-auto my-10 flex w-full flex-col items-center space-y-7 px-8
    text-center text-base
    sm:my-12 sm:max-w-xl sm:space-y-8
    md:my-14 md:max-w-2xl md:space-y-9 md:text-lg
    lg:my-16 lg:max-w-3xl lg:space-y-11 lg:text-xl
    xl:my-20 xl:max-w-4xl xl:space-y-12 xl:text-xl
    2xl:my-24 2xl:max-w-6xl 2xl:space-y-14 2xl:text-2xl 2xl:font-light;
    /* padding-top: 64px; */
    /* margin-top: -64px; */
  }
}

@layer components {
  .responsive-block-space {
    @apply space-y-8
    md:space-y-10
    lg:space-y-12
    xl:space-y-14
    2xl:space-y-16;
  }

  .section-full {
    @apply w-full min-w-full max-w-full;
  }

  .carousel-css .carousel.carousel-slider button {
    @apply bg-gray-400;
  }
  .carousel-css .carousel.carousel-slider .slider-wrapper ul {
    @apply xl:justify-center;
  }

  .banner {
    @apply min-h-[calc(100vw*296/360)] space-y-4
    bg-[url('/images/mobile/background.avif'),url('/images/mobile/background.webp'),url('/images/mobile/background.jpg')]
    bg-cover sm:min-h-[calc(100vw*830/1920)] sm:bg-[url('/images/desktop/background.avif'),url('/images/desktop/background.webp'),url('/images/desktop/background.jpg')];
    background-color: hsl(248deg 64% 42% / 80%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  /* Tarifas Cards */
  .tarifas-card {
    @apply flex min-h-[370px] w-full flex-col items-center justify-center space-y-5 rounded-2xl bg-dark-primary px-5 py-4 text-center text-sm font-light text-white
    sm:max-w-sm
    md:min-h-[500px] md:w-3/4 md:px-12 md:py-12 md:text-base
    lg:min-h-[520px] lg:w-1/3 lg:min-w-[300px] lg:justify-start lg:px-8;
  }

  .services-separator {
    @apply mx-auto my-10 h-[3px] w-3/4 rounded-sm bg-primary md:w-1/2;
  }

  .text-shadow {
    text-shadow: 0px 2px 3px #000000;
  }

  .text-shadow-lg {
    text-shadow: 0px 4px 4px #000000;
  }

  .hamburguer {
    @apply relative z-40 block h-6 w-6 cursor-pointer transition-all duration-[250ms]
focus:outline-none lg:hidden;
  }

  .hamburguer-top,
  .hamburguer-middle,
  .hamburguer-bottom {
    @apply absolute top-0 left-0 h-[2px] w-6 rotate-0 bg-white transition-all duration-[0.5s];
  }

  .hamburguer-middle {
    @apply translate-y-[7px];
  }
  .hamburguer-bottom {
    @apply translate-y-[14px];
  }

  .open {
    @apply rotate-90;
  }

  .open .hamburguer-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  .open .hamburguer-middle {
    @apply hidden;
  }

  .open .hamburguer-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }

  .ecommerce-separator {
    @apply section-full mb-0 bg-cover bg-center bg-no-repeat py-6 lg:space-y-8 lg:py-12;
  }
  .usa-ecommerce {
    background-color: #21165f;
    background-image: linear-gradient(
        144deg,
        rgba(33, 22, 95, 0.7) 0%,
        rgba(33, 22, 95, 0.7) 70%
      ),
      url(/images/mobile/united-states-ecommerce.jpg);
  }
  .mexico-cargo {
    background-color: #21165f;
    background-image: linear-gradient(
        144deg,
        rgba(33, 22, 95, 0.25) 0%,
        rgba(33, 22, 95, 0.25) 70%
      ),
      url(/images/mobile/mexico-cargomty.png);
  }

  #contacto,
  #contact {
    @apply section-full my-0 bg-cover bg-center bg-no-repeat py-12 text-white;
    background-color: #21165f;
    background-image: url(/images/mobile/contact.png);
  }

  .eng-process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px 8px;
    grid-template-areas:
      'card text-1'
      'card selector'
      'text-2 text-2';
  }
  .process-card {
    grid-area: card;
  }
  .process-text-1 {
    grid-area: text-1;
  }
  .process-selector {
    grid-area: selector;
  }
  .process-text-2 {
    grid-area: text-2;
  }

  .flex-center {
    @apply flex flex-col items-center justify-center;
  }
}
